{% extends 'base.html' %}
{% block content %}

<h1>Ride Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">
         {{ ride.title }}
        </span>
        <p>Date: {{ ride.date }}</p>
        <p>Type: {{ ride.get_type_display }}</p>
        <p>Bike: <a href="{% url 'bike_detail' ride.bike.id %}">{{ ride.bike }}</a></p>
      </div>
      <div class="card-action">
        <a href="{% url 'rides_update' ride.id %}">Edit</a>
        <a href="{% url 'rides_delete' ride.id %}">Delete</a>
      </div>
    </div>
  </div>
    <div class="col s6">
      <div class="card">
        <div class="card-content">
          <span class="card-title">
           Route: {{ route.name }}
          </span>
          <p>Location: {{ route.location }}</p>
          <p>Distance: {{ route.distance }}</p>
          <p>Altitude gain: {{ route.altitude }}</p>
          <p>Link: <a href="{{ route.rwgps_url }}">{{ route.rwgps_url }}</a></p>
        </div>
        <div class="card-action">
          <a href="{% url 'routes_update' route.id %}">Edit</a>
          <a href="{% url 'routes_delete' route.id %}">Delete</a>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col s6">
    <h3>Nutrition Plan</h3>
    {% if ride.nutrition.count %}
      {% for nutrient in ride.nutrition.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              {{ nutrient.name }}: {{ nutrient.calories }} calories
            </span>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Nutrition Plan</h5>
    {% endif %}
  </div>
  <div class="col s6">
    <h3>Available Nutrition</h3>
    {% if nutrition.count %}
      {% for nutrient in nutrition.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              {{ nutrient.name }}: {{ nutrient.calories }} calories
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_nutrition' ride.id nutrient.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>Ride Already Has All Nutrition Available</h5>
    {% endif %}
  </div>
</div>
<hr>
<div class="row">
  <div class="col s6">
    <h3>Bike: {% if bike.nickname %}
      {{bike.nickname}} 
    {% else %} 
      {{bike.brand}} 
    {% endif %}</h3>
    <div class="card">
      <div class="card-content">
        <p>Brand: {{ bike.brand }}</p>
        <p>Model: {{ bike.model }}</p>
        <p>Year: {{ bike.year }}</p>
        <p>Type: {{ bike.type }}</p>
        <p>Nickname: {{ bike.nickname }}</p>
        <p>Description: {{ bike.description }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'bikes_update' bike.id %}">Edit</a>
        <a href="{% url 'bikes_delete' bike.id %}">Delete</a>
      </div>
    </div>
  </div>
</div>
<script>
  const selectEls = document.querySelectorAll('select');
  M.FormSelect.init(selectEls);
</script>
{% endblock %}
